<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style=" color: #6a1b9a; font-weight: 500 !important; font-size: 20px !important;">
                Caribbean Transport Vehicles</h3>
        </div>

        <div class="container-search">
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Search...</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-raised-button color="primary" class="btn-search">  <mat-icon>search</mat-icon> </button>

              <button   mat-raised-button color="primary" (click)="openDialog(null, 'New')" class="btn btn-info" style="margin-left: 10px; margin-top: 5px; height: 100%;"><mat-icon class="iconTollbar">add_box</mat-icon>  New Vehicle </button>
        </div>

        <div class="card-body">
            <table mat-table [dataSource]="dataSource" class="table table-hover" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef> Year </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                  </ng-container>

                  <ng-container matColumnDef="make">
                    <th mat-header-cell *matHeaderCellDef> Make </th>
                    <td mat-cell *matCellDef="let element"> {{element.make}} </td>
                  </ng-container>

                  <ng-container matColumnDef="capacity">
                    <th mat-header-cell *matHeaderCellDef> Capacity </th>
                    <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
                  </ng-container>

                  <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> Active </th>
                    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-raised-button color="primary" (click)=" openDialog(element, 'Edit')" class="btn-edit">  <mat-icon>edit</mat-icon> Edit </button>
                        <button mat-raised-button color="primary" class="btn-delete" (click)=" deleteVehicle(element.id)"> <mat-icon>delete</mat-icon> Delete </button>
                         </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row)" [ngClass]="{'highlightRowTable': selectedRowIndex == row}"></tr>
            </table>
        </div>
    </div>
</div>

